:root {
  --black: #000;
  --yellow: #ffa028;
  --gray-dark: #020d13;
  --gray: #0c1b20;
  --blue: #024a90;
  --red: #a51926;
}

@font-face {
  font-family: "Bloomberg LogoTypes-Medium";
  src: url("/fonts/Bloomberg-Logotypes-Medium-0e53877b78.woff2");
}

@font-face {
  font-family: "Roadgeek 2005 Series 2w";
  src: url("/fonts/roadgeek-2005-series-2w.ttf");
}

body {
  font-size: 16px;
}

.brand {
  font-family: "Bloomberg LogoTypes-Medium";
}

.bg-yellow {
  background-color: var(--yellow);
}
.bg-gray-dark {
  background-color: var(--gray-dark);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-black {
  background-color: var(--black);
}
