:root {
  --black: #000;
  --yellow: #ffa028;
  --gray-dark: #020d13;
  --gray: #0c1b20;
  --blue: #024a90;
  --red: #a51926;
  --gray-light: #2c363b;
}

@font-face {
  font-family: "brand";
  src: url("/fonts/metropolis_black.otf");
}

body {
  font-size: 16px;
}

.brand {
  font-family: "brand";
}

.bg-yellow {
  background-color: var(--yellow);
}
.bg-gray-dark {
  background-color: var(--gray-dark);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-gray-light {
  background-color: var(--gray-light);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-black {
  background-color: var(--black);
}

.text-white {
  font: white;
}

.fw-light {
  font-weight: 100;
}

:hover.hover-bg-gray {
  background-color: var(--gray);
}

/* enclosing label */
label.switch {
  position: absolute;
  top: 66px;
  right: 15px;
  width: 44px;
  height: 26px;
  z-index: 4;
}

/* checkbox */
label.switch input {
  visibility: hidden;
  height: 0;
  width: 0;
}

/* switch bg */
span.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 26px;
  background-color: var(--red);
  border: 2px solid var(--black);
  transition: 0.4s;
}

/* switch lever */
span.switch:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  top: 1px;
  background-color: var(--gray-light);
  border: 2px solid var(--gray-dark);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + span.switch {
  background-color: var(--yellow);
}

input:checked + span.switch:after {
  transform: translateX(18px);
}

.border-none {
  border: none !important;
}

.border-1 {
  border: 1px solid var(--gray-dark) !important;
}

button {
  outline: 0 !important;
  height: 100%;
  line-height: inherit;
}
